body {
  background-color: black;
  margin: 0; /* Remove default margin to use the entire viewport */
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  background-color: black;
  color: white;
  font-size: 16px; /* Adjust font size to match the "RESET TO BLACK" button */
  padding: 10px; /* Adjust padding to match the "RESET TO BLACK" button */
  border: none;
  border-radius: 8px;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  cursor: pointer;
  opacity: .8;
  transition: 8ms ease-out;
}

/* Position the "CHANGE COLOR" button in the top left corner */
#colorButton {
  position: fixed;
  top: 10px;
  left: 10px;
}

/* Style for the "RESET TO BLACK" button */
#resetButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#resetButton:hover {
  cursor: pointer;
  opacity: .8;
  transition: 8ms ease-out;
}
