header {
  display: flex;
  justify-content: space-between;
  font-family: 'pixelify sans', sans-serif;
  width: calc(100% - 20px); /* 100% width minus 10px from each side */
  font-size: 5vh;
  font-weight: 300;
  position: fixed;
  top: 10px;
  left: 10px; /* 10px left margin */
  right: 10px; /* 10px right margin */
  z-index: 1000; /* Ensure the header is above other elements */
}

header a {
  color: white; /* Set the text color to white */
  text-decoration: none;
}

.header-placeholder {
  height: 0px; /* Adjust the height to match your header */
}

body {
  background-color: black;
  margin: 0; /* Remove default margin to use the entire viewport */
  padding-top: 60px; /* Adjust the padding to create space for the header */
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 80px; /* Adjust the padding to create space below the header */
}

.button {
  background-color: black;
  color: white;
  font-size: 16px; /* Adjust font size to match the "RESET TO BLACK" button */
  padding: 10px; /* Adjust padding to match the "RESET TO BLACK" button */
  border: none;
  border-radius: 8px;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  cursor: pointer;
  opacity: .8;
  transition: 8ms ease-out;
}

/* Position the "CHANGE COLOR" button in the top left corner */
#colorButton {
  position: fixed;
  top: 50px;
  left: 10px;
}

/* Style for the "RESET TO BLACK" button */
#resetButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#resetButton:hover {
  cursor: pointer;
  opacity: .8;
  transition: 8ms ease-out;
}
