
header {
    display: flex;
    justify-content: space-between;
     font-family: 'pixelify sans', sans-serif;
    width: calc(100% - 20px); /* 100% width minus 10px from each side */
    font-size: 5vh;
    font-weight: 300;
    position: fixed;
    top: 10px;
    left: 10px; /* 10px left margin */
    right: 10px; /* 10px right margin */
    z-index: 1000; /* Ensure the header is above other elements */
}

header a {
    color: white; /* Set the text color to white */
    text-decoration: none;
}
#gradient-container {
    height: 1900vh; /* Adjust the height of the gradient */
    background: linear-gradient(to bottom, #000, #0088aa);
    position: relative;
}
body {
    font-family: 'pixelify sans', sans-serif;
      background-color: black;
      color: whitesmoke;
      font-size: 50px;
      text-align: center;
    }
    
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    
    .item {
      text-align: center;
      animation:  spinType 2s;
      animation-iteration-count: infinite; 
      
  }
    


@keyframes spinType {
  0% {
    transform: rotate(0);
  }
  50% {
    color: lightsteelblue;
  }
  100% {
    transform: rotate(1turn);
    color: powderblue;


  }
}

