header {
    display: flex;
    justify-content: space-between;
     font-family: 'pixelify sans', sans-serif;
    width: 100%;
    font-size: 5vh;
    font-weight: 300;
    position: fixed;
    top: 10px;
    left: 0;
    background-color: black; /* Background color for the header */
}

header a {
    color: white; /* Text color for anchor elements within the header */
    text-decoration: none; /* Remove underline from anchor elements */
}


h1 {
    font-family: 'Kanit', sans serif;
    font-size: 120px;
    letter-spacing: 70px;
}

h2 {
    font-family: 'Kanit', sans serif;
    font-size: 120px;
    letter-spacing: 70px;
}

body {
    background-color: black;
    font-family: 'Kanit', sans-serif;
}

/* ... your other styles ... */


p {
	font-family: 'Kanit', sans serif;
  text-indent: 10%;
}

.button1 {
	text-decoration: none;
	transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  background-color: whitesmoke;
  color:#E30B5C ;
  padding: 10px 20px;
  font-size: 100px;
	font-display: revert;
  font-family: 'Kanit', sans serif;
  border: 2px  #111;
    border-radius: 10px;
}

.button1 h4 {
  color: #111;
  font-weight: 600;
}

.button1:hover {
 border: 2px solid #111;
 font-weight: bolder;
 color: whitesmoke;
  box-shadow: 0px 0px 26px 8px #E30B5C;
  background-color: black;
}

.button1:hover h4 {
  color: black;
}

.button2 {
	text-decoration: none;
	transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  background-color: black;
  color:#E30B5C ;
  padding: 10px 20px;
  font-size: 100px;
	font-display: revert;
font-family: 'Kanit', sans serif;
  border: 2px  #111;
    border-radius: 10px;
}

.button2 h4 {
  color: #111;
  font-weight: 600;
}

.button2:hover {
 border: 2px solid #111;
 font-weight: bolder;
 color: whitesmoke;
  box-shadow: 0px 0px 26px 8px #E30B5C;
  background-color: black;
}

.button2:hover h4 {
  color: black;
}

.button3 {
	text-decoration: none;
	transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
  background-color: black;
  color:#E30B5C ;
  padding: 10px 20px;
  font-size: 100px;
	font-display: revert;
font-family: 'Kanit', sans serif;
  border: 2px #111;
    border-radius: 10px;
}

.button3 h4 {
  color: #111;
  font-weight: 600;
}

.button3:hover {
 border: 2px solid #111;
 font-weight: bolder;
 color: whitesmoke;
  box-shadow: 0px 0px 26px 8px #E30B5C;
  background-color: black;
}

.button3:hover h4 {
  color: black;
}




body1 {
	color: black;
	
}

body2 {
	color: whitesmoke;
	font-family: helvetica;
}

body3 {
	color: black;
}

body4 {
	color: whitesmoke;
	font-family: helvetica
}

body5 {
	color:black;
}
