header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 5vh;
    font-weight: 300;
    position: fixed;
    top: 10px;
    left: 0;
    background-color: black; /* Background color for the header */
}

header a {
    color: white; /* Text color for anchor elements within the header */
    text-decoration: none; /* Remove underline from anchor elements */
}

h1{
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 200px;
  letter-spacing: 70px;
}

h2{
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 120px;
  letter-spacing: 90px;
}

p{
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 120px;
  letter-spacing: 60px;
}
 .simplelink {
  text-decoration: none;
  color: whitesmoke;
  transition: all 0.1s ease;
}

.simplelink:hover {
 color:#F535AA ;
 font size:200px;
}
.fillrect:hover {
  color: #3fff00;
  cursor: pointer;
}

.container {
            position: relative;
        }

        .overlay {
             top: 30%;
            left: 50%;
             transform: translate(-50%, -50%);
            position: absolute;
            color: white; /* Text color */
          }


