header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'pixelify sans', sans-serif;
    font-size: 5vh;
    font-weight: 300;
    position: fixed;
    top: 10px;
    left: 0;
    background-color: black; /* Background color for the header */
}

header a {
    color: white; /* Text color for anchor elements within the header */
    text-decoration: none; /* Remove underline from anchor elements */
}

h1 {

font-family: 'helvetica bold' sans-serif;
font-size: 120px;
color: #1F51FF;
letter-spacing: 70px;
}

h2{
font-size: 120px;
font-family: 'helvetiva';
color: #1F51FF;
letter-spacing: 70px;
}

body {
	background-color: black;
}

p {
  text-indent: 10%;
}

body1 {
	color: black;
	
}

body2 {
	color: whitesmoke;
	font-family: helvetica;
}

body3 {
	color: black;
}


