header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'pixelify sans', sans-serif;
    font-size: 5vh;
    font-weight: 300;
    position: fixed;
    top: 10px;
    left: 0;
}

header a {
    color: white; /* Text color for anchor elements within the header */
    text-decoration: none; /* Remove underline from anchor elements */
}


body {
  background-color: black;
 font-family: 'pixelify sans', sans-serif;
}


</style>
</head>
<body>


h1 {
  font-size: 80px;
  color: whitesmoke;
  text-align: center;
  letter-spacing: 0.2em;
}

h2 {
  font-size: 80px;
  color: whitesmoke;
  text-align: center;
  letter-spacing: 0.2em;
}


h3 {
  font-size: 150px;
  color: black;
  text-align: justify;
}

h3:hover {
  background-color:black ;
  font-size: 150px;
  color: whitesmoke;
  text-align: justify;
}
