h1 {

font-family: 'helvetica bold' sans-serif;
font-size: 120px;
color: #1F51FF;
letter-spacing: 70px;
}

h2{
font-size: 120px;
font-family: 'helvetiva';
color: #1F51FF;
letter-spacing: 70px;
}

body {
	background-color: black;
}

p {
  text-indent: 10%;
}

body1 {
	color: black;
	
}

body2 {
	color: whitesmoke;
	font-family: helvetica;
}

body3 {
	color: black;
}


