body {
    font-family: 'Helvetica-Bold', 'Helvetica', sans-serif;
    margin: 75px;
    font-size: 40px;
    background-color: black;
    color: whitesmoke;
}

.button-container {
    position: fixed;
    bottom: 80px;
    right: 80px;
    color: white;
    font-size: 90px;
    margin: 0;
}

.generate-button {
    width: 100px;
    height: 100px;
    border-radius: 80%;
    background-color: rgba(144, 238, 144, 0.5);
    padding: 30px;
    border: none;
    cursor: pointer;
    font-size: 90px;
    font-family: 'Helvetica-Bold', 'Helvetica', sans-serif;
    color: #800080;
}

.list-one {
    color: #33B864;
}

.list-two {
    color: #90EE90;
}

.list-three {
    color: #33B864;
}
